.home-container {
  display: flex;
  background-size: cover;
}

.not-found-content-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button {
  cursor: pointer;
}
